<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
      <div>Products</div>

      <ul class="navbar-nav">
          <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/welcome" class="nav-link">Welcome</a></li>
          <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/product-list" class="nav-link">Sales</a></li>
          <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/new-product" class="nav-link">New Product</a></li>
      </ul>

      <ul class="navbar-nav navbar-collapse justify-content-end">
              <li><a *ngIf="!hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
              <li><a *ngIf="hardcodedAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
      </ul>
  </nav>
</header>
<div class="div-header">
  <h1>
    Welcome to {{ title }}!
  </h1>

</div>
<div class="div-sub-header">
  <div class="div-button-menu">
    <button class="button-menu-sales" (click)="gotoSalesPage()">Sales</button>
  </div>
  <div class="div-button-menu">
    <button class="button-menu-newproduct" (click)="gotoNewProductPage()">New Product</button>
  </div>
</div>
